<div class="row d-inline-flex justify-content-center" style="width: 100%;">
    <div class="col-5">
        <div class="card mt-4">
            <button class="btn" (click)="create()">
                <div class="card-body text-center">
                  <h5 class="card-title">New Product</h5>
                  <fa-icon [icon]=faPlusCircle size="lg"></fa-icon>
                  <p class="card-text">Create new Products and start your busines</p>
                </div>
            </button>
        </div>
    </div>
    <div class="col-5">
        <div class="card mt-4">
            <button class="btn" disabled>
                <div class="card-body text-center">
                  <h5 class="card-title">Exchange Products</h5>
                  <fa-icon [icon]=faPlusCircle size="lg"></fa-icon>
                  <p class="card-text">Request exchange between users. (coming soon)</p>
                </div>
            </button>
        </div>
    </div>
    <div *ngIf="onCreate">
        <div class="card-body">
            <form [formGroup]="productForm">
                    <div class="mb-2">
                        <label for="inputName" class="form-label">Product</label>
                        <input formControlName="name" type="text" class="form-control" id="inputName">
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <label for="inputPrice" class="form-label">Price</label>
                            <input formControlName="price" type="number" class="form-control" id="inputPrice">
                        </div>
                        <div class="col mb-2">
                            <label for="inputStock" class="form-label">Initial Stock</label>
                            <input formControlName="inStock" type="number" class="form-control" id="inputStock">
                        </div> 
                    </div>
                    <div class="mb-2">
                        <label for="inputDescription" class="form-label">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="inputDescription">
                    </div>
            </form>
            <div class="row my-3 justify-content-around">
                <button (click)="save(1)" class="col-5 btn btn-success">Save</button>
                <button (click)="cancel(1)" class="col-5 btn btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </div>
    <div *ngIf="onEdit">
        <div class="card-body">
            <form [formGroup]="editForm">
                    <div class="mb-2">
                        <label for="inputName" class="form-label">Product</label>
                        <input formControlName="name" type="text" class="form-control" id="inputName">
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <label for="inputPrice" class="form-label">Price</label>
                            <input formControlName="price" type="number" class="form-control" id="inputPrice">
                        </div>
                        <div class="col mb-2">
                            <label for="inputStock" class="form-label">Total Stock</label>
                            <input formControlName="inStock" type="number" class="form-control" id="inputStock">
                        </div> 
                    </div>
                    <div class="mb-2">
                        <label for="inputDescription" class="form-label">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="inputDescription">
                    </div>
            </form>
            <div class="row my-3 justify-content-around">
                <button (click)="save(2)" class="col-5 btn btn-success">Save</button>
                <button (click)="cancel(2)" class="col-5 btn btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </div>
    <div *ngIf="onSell">
        <div class="card-body">
            <form [formGroup]="sellForm">
                    <div class="mb-2">
                        <label for="inputName" class="form-label">Product</label>
                        <input formControlName="name" type="text" class="form-control" id="inputName" [readonly]="true">
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <label for="inputPrice" class="form-label">Price</label>
                            <input formControlName="price" type="number" class="form-control" id="inputPrice" [readonly]="true">
                        </div>
                        <div class="col mb-2">
                            <label for="inputStock" class="form-label">Total Stock</label>
                            <input formControlName="inStock" type="number" class="form-control" id="inputStock" [readonly]="true">
                        </div> 
                    </div>
                    <div class="mb-2">
                        <label for="inputDescription" class="form-label">Amount</label>
                        <input formControlName="amount" type="number" class="form-control" id="inputDescription">
                    </div>
            </form>
            <div class="row my-3 justify-content-around">
                <button [disabled]="sellForm.invalid || sellForm.value.amount > sellForm.value.inStock" (click)="save(3)" class="col-5 btn btn-success">Sell</button>
                <button (click)="cancel(3)" class="col-5 btn btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col">Product</th>
                <th scope="col">In Stock</th>
                <th scope="col">Selled</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of products">
              <tr>
                <td class="col" class="text-center"><strong>{{product.id}}</strong></td>
                <td class="col">{{product.name}}</td>
                <td class="col-1"> <strong>{{product.inStock}}</strong> un</td>
                <td class="col-1"><strong>{{product.selled}}</strong> un</td>
                <td class="col-1">$ <strong>{{product.price}}</strong></td>
                <td class="col-2 text-center">
                    <button *ngIf=!onDelete (click)="sell(product)" class="btn me-1 btn-success"><fa-icon [icon]=faDollarSign size="lg"></fa-icon></button>
                    <button *ngIf=!onDelete (click)="edit(product)" class="btn me-1 btn-outline-secondary"><fa-icon [icon]=faPencilAlt size="lg"></fa-icon></button>
                    <button *ngIf="!onDelete" (click)="delete()" class="btn btn-outline-danger"><fa-icon [icon]=faTrashAlt size="lg"></fa-icon></button>
                    <button *ngIf="onDelete" (click)="cancel(4)" class="btn btn-outline-secondary me-1"><fa-icon [icon]=faUndoAlt size="lg"></fa-icon></button>
                    <button *ngIf="onDelete" (click)="confirmDelete(product.id)" class="btn btn-danger"><fa-icon [icon]=faTrashAlt size="lg"></fa-icon></button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>



