<div class="d-flex justify-content-center mt-2">
    <div class="card col-9">
        <div class="card-body">
            <form action="">
                <div class="form-floating mb-3">
                    <input type="text" id="principalInput" class="form-control" placeholder="Login">
                    <label for="principalInput">Enter with Login or Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" id="credentialInput" class="form-control" placeholder="Password">
                    <label for="credentialInput">Insert Password</label>
                </div>
            </form>
            <div class="row m-0">
                <button class="btn btn-success mb-1">Login</button>
                <button class="btn btn-outline-secondary mb-1">Cancel</button>
            </div>
        </div>
    </div>
</div>